ConoceAColombia.web/Web References/wsFlora/wsFlora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getFlora">
        <s:complexType />
      </s:element>
      <s:element name="getFloraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFloraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertFlora">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stclsFlora" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertFloraResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getFloraSoapIn">
    <wsdl:part name="parameters" element="tns:getFlora" />
  </wsdl:message>
  <wsdl:message name="getFloraSoapOut">
    <wsdl:part name="parameters" element="tns:getFloraResponse" />
  </wsdl:message>
  <wsdl:message name="InsertFloraSoapIn">
    <wsdl:part name="parameters" element="tns:InsertFlora" />
  </wsdl:message>
  <wsdl:message name="InsertFloraSoapOut">
    <wsdl:part name="parameters" element="tns:InsertFloraResponse" />
  </wsdl:message>
  <wsdl:portType name="wsFloraSoap">
    <wsdl:operation name="getFlora">
      <wsdl:input message="tns:getFloraSoapIn" />
      <wsdl:output message="tns:getFloraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertFlora">
      <wsdl:input message="tns:InsertFloraSoapIn" />
      <wsdl:output message="tns:InsertFloraSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsFloraSoap" type="tns:wsFloraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFlora">
      <soap:operation soapAction="http://tempuri.org/getFlora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFlora">
      <soap:operation soapAction="http://tempuri.org/InsertFlora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsFloraSoap12" type="tns:wsFloraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFlora">
      <soap12:operation soapAction="http://tempuri.org/getFlora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFlora">
      <soap12:operation soapAction="http://tempuri.org/InsertFlora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsFlora">
    <wsdl:port name="wsFloraSoap" binding="tns:wsFloraSoap">
      <soap:address location="http://localhost/ConoceAColombia.ws/Servicios/wsFlora.asmx" />
    </wsdl:port>
    <wsdl:port name="wsFloraSoap12" binding="tns:wsFloraSoap12">
      <soap12:address location="http://localhost/ConoceAColombia.ws/Servicios/wsFlora.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>