ConoceAColombia.web/Web References/wsTipoFauna/wsTipoFauna.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getTipoFauna">
        <s:complexType />
      </s:element>
      <s:element name="getTipoFaunaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTipoFaunaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getTipoFaunaSoapIn">
    <wsdl:part name="parameters" element="tns:getTipoFauna" />
  </wsdl:message>
  <wsdl:message name="getTipoFaunaSoapOut">
    <wsdl:part name="parameters" element="tns:getTipoFaunaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTipoFaunaSoap">
    <wsdl:operation name="getTipoFauna">
      <wsdl:input message="tns:getTipoFaunaSoapIn" />
      <wsdl:output message="tns:getTipoFaunaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTipoFaunaSoap" type="tns:wsTipoFaunaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTipoFauna">
      <soap:operation soapAction="http://tempuri.org/getTipoFauna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsTipoFaunaSoap12" type="tns:wsTipoFaunaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTipoFauna">
      <soap12:operation soapAction="http://tempuri.org/getTipoFauna" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTipoFauna">
    <wsdl:port name="wsTipoFaunaSoap" binding="tns:wsTipoFaunaSoap">
      <soap:address location="http://localhost/ConoceAColombia.ws/Servicios/wsTipoFauna.asmx" />
    </wsdl:port>
    <wsdl:port name="wsTipoFaunaSoap12" binding="tns:wsTipoFaunaSoap12">
      <soap12:address location="http://localhost/ConoceAColombia.ws/Servicios/wsTipoFauna.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>